:root {
    --moderate-violet: hsl(263, 55%, 52%);
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --very-dark-blackish-blue: hsl(219, 29%, 14%);
    --very-dark-blackish-blue-opacyt:hsla(217, 30%, 14%, 0.7);
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(0, 0%, 81%);
    --light-gray-opacyt:hsla(0, 0%, 81%, 0.7);
    --light-grayish-blue: hsl(210, 46%, 95%);
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 1.45rem;
    margin: 1rem 0;
}

p {
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.5;
    width: 95%;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: var(--light-grayish-blue);
}

.container {
    max-width: 90%;
    margin: 5rem auto;
    display: grid;
    grid-template-rows: minmax(15rem, 1fr);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1.5rem;
}

article[class$="-card"] {
    border-radius: 0.5rem;
    padding: 1.5rem;
}

.top-left-card {
    color: var(--light-gray);
    background-color: var(--moderate-violet);
    background-image: url(../images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: 85% 0;
    background-size: 9rem;

    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.top-left-card p {
    color: var(--light-gray-opacyt);
}

.top-left-card img {
    border: 3px solid var(--light-gray-opacyt);
}

.top-middle-card {
    color: var(--light-gray);
    background-color: var(--very-dark-grayish-blue);

    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.top-middle-card p {
    color:var(--light-gray-opacyt);
}

.bottom-left-card {
    background-color: var(--white);

    grid-column: 1 / 2;
    grid-row: 2 / 4;
}

.bottom-left-card p {
    color: var(--very-dark-blackish-blue-opacyt);
}

.bottom-middle-card {
    color: var(--light-gray);
    background-color: var(--very-dark-blackish-blue);

    grid-column: 2 / 4;
    grid-row: 2 / 4;
}

.bottom-middle-card p {
    color:var(--light-gray-opacyt);
}

.bottom-middle-card img {
    border: 3px solid var(--moderate-violet);
}

.right-card {
    color: var(--very-dark-blackish-blue);
    background-color: var(--white);

    grid-column: 4 / 5;
    grid-row: 1 / 4;
}

.right-card p {
    color: var(--very-dark-blackish-blue-opacyt);
}

.image-name {
    display: flex;
    column-gap: 1rem;
    align-items: center;
    margin: 1rem 0;
}

.image-name img {
    border-radius: 50%;
    height: 3rem;
}

.text-name {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media screen and (max-width: 69.375rem) {
    .bottom-left-card {
        grid-row: 1;
        grid-column: 4;
    }

    .right-card {
        grid-row: 2;
        grid-column: 1 / 3;
    }

    .bottom-middle-card {
        grid-row: 2;
        grid-column: 3 / 5;
    }
}

@media screen and (max-width: 53.125rem) {
    .container {
        grid-template-rows: repeat(3);
    }

    .top-left-card {
        grid-column: 1 / 5;
    }

    .top-middle-card {
        grid-row: 2;
        grid-column: 1 / 3;
    }

    .bottom-left-card {
        grid-row: 2;
        grid-column: 3 / 5;
    }

    .bottom-middle-card {
        grid-row: 3;
        grid-column: 1 / 3;
    }


    .right-card {
        grid-row: 3;
        grid-column: 3 / 5;
    }

}

@media screen and (max-width: 33.125rem) {
    h1 {
        font-size: 1.31rem;
    }

    p {
        font-size: 0.85rem;
    }

    .container {
        width: 95%;
        grid-template-columns: 1fr;
    }

    .top-left-card {
        background-position: 85% 0;
        background-size: 8.2rem;


        grid-column: 1;
        grid-row: 1;
    }

    .top-middle-card {
        grid-column: 1;
        grid-row: 2;
    }

    .bottom-left-card {
        grid-column: 1;
        grid-row: 3;
    }

    .bottom-middle-card {
        grid-column: 1;
        grid-row: 4;
    }

    .right-card {
        grid-column: 1;
        grid-row: 5;
    }
}